@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    height: 100vh;
    margin: 0;
    /* overflow: hidden; */
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

img {
    width: 200px;
    height: 150px;
}

/* * {
    outline: red solid 1px;
} */

ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

a {
    color: aliceblue;
    text-decoration: none;
}

button {
    font-family: Roboto, sans-serif;
    background-color: #3882F6;
    color: white;
    border-color: aliceblue;
}

.hero-text {
    background-color: #1F2937;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 8%;
}

.header {
    display: flex;
    justify-content: space-between;
    color: aliceblue;
    font-size: 18px;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
}

.first-part {
    display: flex;
    flex: 1 1 0px;
    justify-content: space-between;
}

.first-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    color: aliceblue;
}

.second-part {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6%;
    gap: 8px;
}

.info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    width: 280px;
}

.title {
    display: flex;
    justify-content: center;
    padding: 2%;
    font-size: 36px;
    font-weight: 900;
}

.third-part {
    background-color: #E5E7EB;
    padding-top: 8%;
    padding-bottom: 8%;
    padding-left: 35%;
    padding-right: 35%;
    color: #1F2937;
    /* text-align: center; */
}

.big-quote {
   display: flex;
   justify-content: flex-end;
   font-size: 22px;
   font-weight: 200;
   font-style: italic;
   color: #1F2937;
}

.small-quote {
   display: flex;
   justify-content: flex-end;
   font-size: 18px;
   font-weight: 900;
}

.fourth-part {
    /* margin: 5%; */
    margin-top: 8%;
    margin-bottom: 8%;
    margin-left: 35%;
    margin-right: 35%;
    display: flex;
    background-color: #3882F6;
    color: #E5E7EB;
}

.fourth-part > *:nth-child(1) {
    flex: 1 1 70%;
}

.fourth-part > *:nth-child(2) {
    flex: 1 1 30%;
}
.bottom-texts {
    /* display: flex;
    flex-direction: column; */
    padding: 35px;

}

.bottom-text-title {
    font-weight: 700;
    padding-bottom: 7px;
}

.bottom-button {
    display: flex;
    justify-content: center;
    align-items: center;
}








