@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    height: 100vh;
    margin: 0;
    /* overflow: hidden; */
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

img {
    width: 200px;
    height: 150px;
}

* {
    outline: red solid 1px;
}

ul {
    list-style: none;
    display: flex;
}

a {
    color: aliceblue;
}

button {
    font-family: Roboto, sans-serif;
    background-color: rgb(22, 102, 155);
    color: white;
    border-color: aliceblue;
}

.hero-text {
    background-color: #1F2937;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 8%;
}

.header {
    display: flex;
    justify-content: space-between;
    color: aliceblue;
    font-size: 18px;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
}

.first-part {
    display: flex;
    flex: 1 1 0px;
    justify-content: space-between;
}

.first-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    color: aliceblue;
}

.second-part {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6%;
    gap: 15px;
}

.info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.title {
    display: flex;
    justify-content: center;
    padding: 2%;
    font-size: 36px;
    font-weight: 900;
}

.third-part {
    background-color: #E5E7EB;
    padding: 8%;
    color: #1F2937;
    /* text-align: center; */
}

.big-quote {
   display: flex;
   justify-content: flex-end;
   text-align: center;
   font-size: 36px;
   font-family: light italic;
 
}

.small-quote {
   display: flex;
   justify-content: flex-end;
   font-size: bolder;
}



